body
{
	padding: 10px;
	background: #ffffff;
	color: #009900;

}

.heading
{
	font-weight: bold;
}

.buttons
{
	width: 300px;
	float: left;
	margin-left: -460px;
	margin-right: 270px;
}

.btn-green
{
	background-color: #00ff00;
	color: #ffffff;
	transform: translateX(10px);
}

.btn-green-dark
{
	background-color: #008000;
	color: #ffffff;
}

.btn-red
{
	background-color: #ff0000;
	color: #ffffff;
	transform: translateX(10px);
}

.btn-red-dark
{
	background-color: #800000;
	color: #ffffff;
}

.btn-blue
{
	background-color: #0000ff;
	color: #ffffff;
	transform: translateX(10px);
}

.btn-blue-dark
{
	background-color: #000080;
	color: #ffffff;
}

.btn-plain
{
	background-color: #f4cd41;
	color: #ffffff;
	transform: translateX(10px);
}

.btn-plain-dark
{
	background-color: #c1990b;
	color: #ffffff;
}

.btnOn
{
	float: right;
	width: 140px;
}

.btnOff
{
	float: right;
	width: 140px;
}

.heading__plotDetails
{
	text-decoration: underline;
}

.info
{
	float: left;
	margin-top: 200px;
	width: 300px;
}